/* Variables */

:root {
    --police-texte: "EBGaramond", serif;
    --police-titre: "Playfair Display", serif;
    --police-meta: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --vert: #487b00;
    --vert-hover: #63aa01;
    --couleur-texte: rgba(0, 0, 0, 0.7);
    --fond-sombre: #0d1a08;
    --texte-sombre: rgb(198, 211, 198);
}

/* Polices */

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay.woff2') format('woff2');
    font-style: normal;
    font-weight: 400 900;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 400 900;
    font-display: swap;
}

@font-face {
    font-family: 'EBGaramond';
    src: url('../fonts/EBGaramond.woff2') format('woff2');
    font-style: normal;
    font-weight: 400 900;
    font-display: swap;
}

@font-face {
    font-family: 'EBGaramond';
    src: url('../fonts/EBGaramond-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 400 900;
    font-display: swap;
}

/* Global */

html, body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
    color: var(--couleur-texte);
}

@media (prefers-color-scheme: dark){
    html, body {
        background-color: var(--fond-sombre);
        color: var(--texte-sombre);
    }
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    text-decoration: none;
    color: var(--couleur-texte);
}

a:hover {
    color: var(--vert);
    text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


@media (prefers-color-scheme: dark) {
    a {
        color: var(--texte-sombre);
    }

    a:hover {
        color: var(--vert-hover);
    }
}

/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color:var(--vert);
}

.logo {
    margin:1em;
    width: 2.5vw;
    min-width: 2em;
    fill:var(--vert);
    stroke:var(--vert);
}

.logo:hover {
    fill:var(--vert-hover);
    stroke:var(--vert-hover);
}

.header nav {
    font-family: var(--police-texte);
    font-weight: 700;
    font-size: 1.5em;
    margin:1em;
}

.header nav a {
    color:var(--vert);
}

.header nav a:hover {
    color:var(--vert-hover);
}

@media (prefers-color-scheme: dark) {
    .logo{
        fill:var(--texte-sombre);
        stroke:var(--texte-sombre);
    }

    .logo a:hover {
        fill:var(--vert);
        stroke:var(--ver);
    }
}

/* Footer */

.footer {
    font-family: var(--police-meta);
    font-size: 0.8em;
    text-align: center;
    padding: 1em;
}



/* Page d'accueil */

h1 {
    font-family: var(--police-titre);
    text-align: center;
    font-weight: 900;
    font-size: 2.5em;
    margin: 0.5em auto;
}

@media (min-width: 800px) {

    h1 {
        font-size: 4vw;
    }

    .articles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5em;
        margin:5vw 0;
    }

    .articles .item {
        display: inline;
        margin:0;
    }

    .articles .item img {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .articles {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1800px) {
    .articles {
        grid-template-columns: repeat(4, 1fr);
    }
}

.pagination {
    text-align: center;
    font-family: var(--police-meta);
    font-weight: 300;
    margin: 2em;
}

.pagination ul {
    list-style: none;
}

.pagination li {
    display: inline;
    text-align: center;
}

.pagination a {
    color: var(--texte-sombre);
    border-radius: 0.3em;
    margin: 0 0.2em;
    padding: 0.5em;
    background-color: var(--couleur-texte);
}

.pagination a:hover{
    font-weight: 900;
}

.pagination .disabled {
    display: none;
}

.pagination .active a {
    font-weight: 900;
}

@media (prefers-color-scheme: dark) {
    .pagination a {
        color: var(--couleur-texte);
        background-color:var(--texte-sombre);
    }
}

/* Articles */

#single .article h2,
#single .article h3 { 
    text-align: center;
    margin: 1.5em auto 1em auto;
}

#single .article h2:not(:first-child) {
    padding-top: 0.5em;
    border-top: 0.1em solid var(--vert);
}

#single .content,
#single-photo .content {
    margin: 0 auto;
    max-width: 850px;
    padding: 0 0.5em;
    font-size: 1.5em;
	line-height: 1.4em;
}

#single-photo .content {
    padding: 0;
}

#single-photo .content p {
    padding: 0 0.5em;
}

#single .title,
#single-photo .title {
    text-align: center;
    font-family: var(--police-titre);
    margin: 0.5em auto;
    font-weight: 600;
    font-size: 1.6em;
    line-height: 1.2em;
    font-variant-ligatures: common-ligatures discretionary-ligatures;
}

#single .title em,
#single-photo .title em {
    font-weight: 900;
}

#single .image {
    text-align: center;
}

#single .date,
#single-photo .date {
    text-align: right;
    font-family: var(--police-meta);
    font-weight: 300;
    font-size: 0.7em;
}

#single .article,
#single-photo .article {
    font-family: var(--police-texte);
    font-weight: 400;
}

#single a,
#single-photo a {
    text-decoration: underline;
    color: var(--couleur-texte);
}

#single a:hover,
#single-photo a:hover {
    color: var(--vert);
    text-decoration: none;
}

.littlefoot {
    --popover-font-family: var(--police-texte);
    --popover-line-height: 1.2em;
    --popover-text-color: var(--couleur-texte);
    --popover-font-size: 0.8em;
}

.littlefoot p {
    margin: 0.5em;
}

@media (prefers-color-scheme: dark) {
    #single .content h2:not(:first-child) {
        border-top: 0.1em solid var(--texte-sombre);
    }

    #single .article, 
    #single a,
    #single-photo a {
        color: var(--texte-sombre);
    }

    #single a:hover,
    #single-photo a:hover {
        color: var(--vert-hover);
    }
    
    .littlefoot {
        --popover-text-color: var(--texte-sombre) !important;
    }

    .littlefoot__content {
        --popover-background-color: var(--fond-sombre);
    }
}

@media (min-width: 900px) {

    #single {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        align-content: center;
        align-items: flex-start;
    }
    
    #single .image {
        position:sticky;
        top:0;
        max-width: 40%;
        margin: 0 auto;
    }

    #single .image img {
        max-height: calc(100vh - 5em);
    }

    #single .title,
    #single-photo .title {
        margin: 1vw auto;
        font-size: 3.5vw;
    }

    #single .content {
        width: 60%;
        margin: 0 auto;
        font-size: 1.6em;
    }

}

/* Métadonnées */
.meta,
.meta-photos {
    display: inline;
    list-style: none;
    font-family: var(--police-meta);
    font-size: 0.9em;
    line-height: 1.3em;
}

.meta-photos {
    font-family: var(--police-meta);
    text-align: right;
    font-size: 0.7em;
    color: var(--vert);
    display: block;
    padding: 0;
    margin: 0 0.5em 1em 0;
}

#single-photo .meta h3{
    padding: 0 0.5em;
}

@media (prefers-color-scheme: dark){
    .meta-photos {
        color: var(--vert-hover);
    }
}

.meta p,
.meta ul {
    padding: 0;
    margin:0;
}

.meta li {
    display: inline;
}

.meta li:not(:last-child):not(:first-child):after {
    content: ", ";
}

.meta li:first-child:after {
    content: " ";
}

@media (min-width: 1000px) {
    .meta .col {
        columns: 2;
    }

    .meta-photos {
        font-size: 0.9em;
        margin: 0 0 1em 0;
    }

    #single-photo .meta h3{
        padding: 0;
    }
}

/* Recherche */

#search-input {
    font-family: var(--police-texte);
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    margin:1em auto;
    font-weight: 600;
    border-color: var(--vert);
    border-style:solid;
    padding: 0.1em;
}

input:focus::placeholder {
    color: transparent;
}

#search-results {
    text-align: center;
    list-style: none;
    font-family: var(--police-titre);
    font-weight: 500;
    margin: 0 1em;
    padding: 0;
}

#search-results li {
    margin: 0.5em 0;
}

#search-results em {
    font-weight: 900;
}

#search-results a {
    text-decoration: none;
}

@media (max-width: 900px) {
    #search-input {
        font-size: 1em;
        margin:0.5em auto;
    }
}

/* Archives */

#single .archives {
    list-style: none;
    padding: 0;
}

#single .archives.sections {
    text-align: center;
    padding: 0;
}

#single .archives.calendrier li {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    padding-bottom: 0.5em;
    line-height: 1em;
}

#single .archives.calendrier a {
    padding-left: 1.5em;
    text-indent:-1.5em;
}

#single .archives.calendrier .catemoji {
    padding-right: 0.2em;
}


#single .archives.calendrier .date {
    display: none;
}

#single .archives.calendrier .date.court {
    display: block;
    padding-left: 1em;
}

#single .archives li a {
    text-decoration: none;
}

@media (min-width: 900px) {
    #single .archives.sections {
        columns: 2;
    }

    #single .archives.calendrier li {
        padding-left: 1em;
    }

    #single .archives.calendrier .date {
        display: block;
        padding-left: 1em;
    }
   
    #single .archives.calendrier .date.court {
        display: none;
    }
}

/* Menu */

#single .menu {
    font-weight: 700;
    font-family: var(--police-titre);
    font-size: 1.5em;
    text-align: center;
}

#single .menu a {
    text-decoration: none;
}